:root {

 --top-profile-picture: url(2289_SkVNQSBGQU1PIDEwMjgtMTE1.jpg); 
 --deep-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
 --charcoal: #1f1c1a;
 --muted-taupe: #7a726f;
 --rose-pink: #f92a75;
 --dark-slate: #2c2826;
 --ocean-blue: #0a5367;
 --soft-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
 --light-stone: #e2e0df;
 --pale-silver: #f8f8f7;
 
 

}

  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html{
    font-family: 'Roboto', sans-serif;
}

body {
    
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    
    
    ;
    
  }

  .main-content {
    background-color: #ecf0f1;
    grid-area: main;
  }

  .sidebar {
    color: #e2e0df;
    background-color: #2c3e50;
    grid-area: sidebar;
  }
/* Header styles */




.top-header-button {
    cursor: pointer;
    background: none;     
    border: none;         
    padding: 0;         
    cursor: pointer;      
    outline: none;  
  
  }

  header {
    grid-area: header;
  }
  
  .material-symbols-outlined {
    cursor: pointer;
  }

  .profile-picture {
    background: var(--top-profile-picture) center center / cover no-repeat;
    border-radius: 50%;
    width: 50px;  
    height: 50px; 
}

 